*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    
}
html{
    
}
html{
    
}html{
    
}html{
    
}
html{
    
}
.logo{
    width: 196px;
    height: 60px;
}
.d-flex{
    display: flex;
}
.gap-1{
    gap: 10px;
}
.gap-2{
    gap: 20px;
}
.gap-3{
    gap: 30px;
}
.gap-4{
    gap: 40px;
}
.gap-5{
    gap: 50px;
}
.nav:hover{
    background-color: yellow;
}
.align-center{
    align-items: center;
}
.border-1{
    border: 1px solid black;
    padding: 20px;
    border-top: 20px;
    border-bottom: 20px;
    
   
}
.border-2{
    border: 1px solid black;
    padding: 20px;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 10px;
    
   
}
.border-3{
    border: 1px solid black;
    padding: 20px;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    
   
}
.border-4{
    border: 1px solid black;
    padding: 20px;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    
   
}
.mar-1{
    margin-left: 90px;
}
.border{
    border: 1px solid rgb(184, 178, 178);
}
.txt-color{
    color: rgb(56, 4, 56);
}
.button{
    margin-left: 210px;
  padding-top: 30px;
  padding-bottom: 30px;
   padding-right: 60px;
   padding-left: 70px;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    text-align: center;
    font-size: 13px;
}
.edit-button{
    color: yellow;
}

.search-bar{
    width: 120px;
}
.search-bar{
  margin-left: 30px;
  height: 30px;
  width: 220px;
}
.crsl{
    width: 100% ;
    height: 550px;
}
.justify-center{
    justify-content: center;
}
.imgs{
    width: 250px;
    height: 190px;
}
.img1{
    margin-right: 20px;
}
.inline1{
    display: inline;
}
.text-edit1{
    color: rgb(88, 3, 88);
    margin-left: 100px;
    
    
    
}
.text-edit2{
    color: rgb(88, 3, 88);
    margin-left: 80px;
}
.text-edit3{
    color: rgb(88, 3, 88);
    margin-left: 50px;
}
.text-edit4{
    color: rgb(88, 3, 88);
    margin-left: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #6d2077;
    margin: 20px 0px;
    font-size: 1.2rem;
}

.card p {
    color: #555;
    font-size: 0.8rem;
}
.img-edits{
    height: 170px;
}

.container:hover{
    cursor: pointer;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #6d2077;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    justify-content: space-between;

}
.card-logo{
    text-align: center;
   
}
.i-1{
    height: 90px;
    border-radius: 4px;

}
.i-2{
    height: 90px;
    border-radius: 100px;
}
.i-3{
    height: 90px;
    border-radius: 100px;

}
.i-4{
    height: 90px;
    border-radius: 100px;
    
}
.i-5{
    height: 90px;
    border-radius: 100px;
}
.i-6{
    height: 90px;
    border-radius: 100px;
}
.card-logo p{
    font-size: 0.8rem;
    color: white;
}
.card-logo h3{
    color: white;
}
.head1{
    padding-top: 40px;
    background-color: #6d2077;
    color: white;
    text-align: center;
}
.award{
    display: flex;
    background-color: rgb(183, 181, 181);
    padding-top:  30px;
    padding-bottom: 30px;
    justify-content: center;
    
}
.editard{
    color: #6d2077;
    text-align: center;
    background-color: rgb(183, 181, 181);
    padding-top: 50px;
}
.linkard{
    color: #6d2077;
    background-color: rgb(183, 181, 181);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 0px;
}
.services{
    display: flex;
    justify-content: center;
   
}
.imgsservice{
    background-color: white;
    color: #6d2077;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
}

.fot-initial{
    display: flex;
    justify-content: center;
  color: white;
    background-color: #6d2077;
flex-wrap: wrap;
}
.f1{
    border: 2px solid white;
    padding: 50px 122px;

}
.f2{
    border: 2px solid white;
    padding: 50px 122px;
  

    
}
.f3{
    border: 1px solid white;
    padding: 50px 122px;}
.f4{
    border: 1px solid white;
    padding: 50px 122px;
}
.footer{
    display: flex;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(195, 192, 192);
    justify-content: space-evenly;
    gap: 20px;
}
.icon-a{
    font-size: xx-large;
}
